{% extends 'main/base.html' %}

{% block title %}
Востребованность
{% endblock %}

{% block content %}

        <h1 style="text-align: center">Востребованность системного администатора"</h1>
    <p>Профессия системного администратора является не менее востребованной, чем профессия программиста, поэтому база вакансий для системных администраторов содержит множество предложений. Администратор, как и программист, должен хорошо разбираться в области информационных технологий не только как теоретик, но и как практик.</p>


        <h1 style="text-align: center">Аналитика по годам для профессии "Системный администатор"</h1>
     <center>
    <svg class="bi me-2" width="" height="20">
            <img src="media/images/pic1.png" width="900" height="350">
        </svg>
    </center>

    <h5 style="text-align: center">Динамика уровня зарплат по годам и количества вакансий по годам для выбранной профессии
</h5>

    <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
    <tr>
      <th>Год</th>
      <th>Средняя зарплата </th>
      <th>Средняя зарплата -  <br> Системный администор</th>
      <th>Количество вакансий </th>
      <th>Количество вакансий -  <br> Системный администор</th>
    </tr>
  </thead>
  <tbody align="center">

   <tr>
       <td> 2015  </td>
       <td> 57259  </td>
       <td> 50338</td>
       <td> 9358 </td>
       <td> 287</td>
   </tr>

   <tr>
       <td> 2016  </td>
       <td> 67729  </td>
       <td> 43506</td>
       <td> 28916 </td>
       <td> 681</td>
   </tr>

   <tr>
       <td> 2017  </td>
       <td> 69632  </td>
       <td> 47334</td>
       <td> 38682 </td>
       <td> 1036</td>
   </tr>

   <tr>
       <td> 2018  </td>
       <td> 91804  </td>
       <td> 48799</td>
       <td> 58478 </td>
       <td> 1542</td>
   </tr>

   <tr>
       <td> 2019  </td>
       <td> 79153  </td>
       <td> 47940</td>
       <td> 70559 </td>
       <td> 2410</td>
   </tr>

   <tr>
       <td> 2020  </td>
       <td> 75569  </td>
       <td> 50501</td>
       <td> 87249 </td>
       <td> 3345</td>
   </tr>

   <tr>
       <td> 2021  </td>
       <td> 86650  </td>
       <td> 55864</td>
       <td> 54116 </td>
       <td> 2150</td>
   </tr>

   <tr>
       <td> 2022  </td>
       <td> 102513  </td>
       <td> 57674</td>
       <td> 17030 </td>
       <td> 703</td>
   </tr>

  </tbody>
</table>

{% endblock %}
