{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <h1>Системный администратор — кто это?</h1>
    <p><b>Системный администратор</b> — это специалист, который отвечает за работу информационной инфраструктуры компании, обеспечивает ее настройку, поддерживает работоспособность, занимается ее развитием и совершенствованием. В зоне ответственности сисадмина находится все компьютерное оборудование и периферийные устройства, сетевые подключения и программное обеспечение.</p>

<p>Круг задач и функций этого специалиста определяется многими факторами, такими как сфера деятельности и масштаб компании, особенности ее IT-инфраструктуры. Кроме того, ключевое значение имеют навыки, знания и опыт самого сисадмина. В связи с этим важно разбираться в типах системных администраторов, которые определяются уровнем и направлением их подготовки.</p>
<h1>Типы системных администраторов</h1>
    <h6>В зависимости от уровня и специализации подготовки различают следующие типы системных администраторов:</h6>
    <p>Эникей. Специалист начального уровня. Занимается базовыми функциями по обслуживанию и настройке компьютерного и периферийного оборудования, программного обеспечения. В крупных компаниях обычно работает на позиции помощника системного администратора. В небольших организациях, не связанных со сферой ИТ, может быть админом.<hr>
Непосредственно системный администратор (Helpdesk administrator). Широкопрофильный специалист, который обеспечивает стабильную и безотказную работу всей информационной инфраструктуры компании. Он выполняет функции мониторинга и инвентаризации, поддерживает работу локальной сети, обеспечивает информационную безопасность и решает множество других задач.<hr>
Системный архитектор-инженер. Специалисты этого профиля обычно работают в крупных корпорациях, которые имеют сложную и разветвленную IT-инфраструктуру. Они осуществляют ее проектирование и выстраивают архитектуру.<hr>
Сетевой администратор. Специализируется на обслуживании, настройке, развитии логических и физических сетей. Осуществляет контроль и учет трафика, занимается управлением системами биллинга. Специалисты этого профиля работают в крупных компаниях, в том числе в банковской сфере и в сфере телекоммуникаций. Сетевой админ незаменим в центрах обработки данных.<hr>
Инженер информационной безопасности. Круг обязанностей этого специалиста охватывает все виды деятельности по поддержанию безопасности IT-инфраструктуры предприятия, защите ее от внешних и внутренних угроз. Такие специалисты востребованы в компаниях, для которых уровень информационной безопасности играет значительную роль, в том числе банки, сфера финансовых технологий, промышленные предприятия и т. д.</p>
<h6>Трудовой путь сисадмина обычно начинается с позиции эникея. Для построения карьеры он должен выбрать какое-либо из направлений развития.</h6>
<h1>Три главных качества системного администратора</h1>
<h6>Если резюмировать вышесказанное, то можно выделить три основные черты, которыми должен обладать любой хороший системный администратор:</h6>
<p><b>1</b>    Способность и желание к обучению и профессиональному развитию.<hr>
<b>2</b>    Умение общаться с людьми и стремление им помогать.<hr>
    <b>3</b>    Понимание и любовь к технике.</p>


{% endblock %}
