{% extends 'main/base.html' %}

{% block title %}
Навыки
{% endblock %}

{% block content %}

    <h1>Навыки, знания и задачи системного администратора</h1>
    <h6>В рамках своей профессиональной деятельности helpdesk administrator должен решать широкий комплекс задач. Для этого он должен обладать необходимыми навыками и знаниями. В частности, для успешного управления информационной инфраструктурой компании, хороший хелпдеск должен владеть такими навыками и знаниями:</h6>
    <p>Навыки правильного использования поисковых систем — умение точно и быстро формулировать правильные запросы.<hr>
Хорошее знание GUI операционных систем, используемых в компании. Рекомендуется детально знакомиться с новыми версиями операционок сразу после их выхода, чтобы оперативно и качественно внедрять обновления. Речь, конечно же, идет в основном о различных версиях Windows.<hr>
Доскональное владение программным обеспечением, позволяющим получать удаленный доступ к компьютерам. Для этой цели используются такие приложения, как SysAid, RMS, Teamviwer, системный клиент RDP и другие.<hr>
Владение навыками работы с командной строкой. Сисадмин должен хорошо знать все основные команды и уметь их правильно использовать.<hr>
Умение работы со всем основным программным обеспечением, используемым в компании. Сисадмин выполняет задачи по установке и удалению программ, выполнению базовых настроек. В том числе ему приходится регулярно работать с программами Офисного пакета, браузерами, почтовыми клиентами, антивирусным ПО, im-агентом и т. д.
Умение работать с базовыми оснастками для выполнения настройки операционной системы, в том числе compmgmt, msconfig, services, printmanagment и т. д.<hr>
Умение работы с периферийным оборудованием. От хелпдеска периодически требуется устанавливать и настраивать принтеры, сканеры, клавиатуры, мыши, веб-камеры, акустику, картридеры и другие устройства.<hr>
Навыки и понимание работы с «железом». При работе в компании сисадмину регулярно приходится разбирать и собирать компьютеры, проводить диагностику, выполнять профилактические работы, мелкий ремонт ПК.</p>

    <h1>Базовые требования к специалисту — системному администратору</h1>
    <h6>Как и любой другой специалист, системный администратор для работы в компании должен соответствовать определенным базовым требованиям. Перечень этих требований может существенно отличаться в зависимости от специфики конкретной организации. В частности, это зависит от особенностей построения IT-инфраструктуры компании, используемых в ней программных комплексах и многих других факторов. Например, от сисадминов частот требуется доскональное знание таких комплексов, как 1С, Kubernetes, владение конкретными СУБД и другими видами ПО.</h6>
    <h6>Однако также можно выделить и набор универсальных базовых требований, которые предъявляются к сисадминам практически в каждой компании. К числу таких требований можно отнести следующие:</h6>
    <p>Наличие навыков администрирования ОС Windows. Также может требоваться администрирование Unix и других операционных систем. В том числе администрирование включает управление безопасностью, задание групповых политик, создание пользователей, управление удаленным доступом и многие другие процедуры.<hr>
Владение и понимание сетевой модели OSI, а также основных сетевых протоколов.<hr>
Владение скриптингом bash, PowerShell для оптимизации и автоматизации повседневных рутинных функций системного администрирования.<hr>
Умение осуществлять постоянный инфраструктурный и сетевой мониторинг, выполнять маршрутизацию и настройку локальных сетей.<hr>
Понятие и владение навыками работы с серверами IP-телефонии и почтовыми серверами.<hr>
Навыки работы с офисным ПО и приложениями.<hr>
Умение выполнять ремонт и обслуживание компьютерного и периферийного оборудования.</p>
    <h6>При беглом просмотре этих требований можно подумать, что они не такие уж и высокие. Однако это далеко не так. Для овладения каждым из пунктов этого перечня специалисты необходимо изучить массу технической документации, инструкций, освоить многочисленные фишки и особенности работы. К тому же это только базовые требования. Для успешной реализации себя в профессии сисадмина специалисту приходится постоянно приходится заниматься саморазвитием во время практической работы.</h6>

    <center>
    <img style=" width: 200px;" align-text="left" border="3px" src="http://127.0.0.1:8000/media/images/79665618-720f-5de1-9c81-6b43e1301fcb.jpg">
    </center>


{% endblock %}
